<section data-ng-controller="HomeController">
        <h4>Catalogues and stores in your city</h4>
        <div class="row homepage">

            <div class="col-md-3">
                <!-- <p class="lead">Categories</p> -->
                <div class="list-group">
                    <a href="#" data-ng-repeat="category in categories" class="list-group-item"><i class="{{category.cssclass}}"></i>{{category.name}}</a>
                </div>
            </div>

            <div class="col-md-9">

               <!--  <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div> -->

               <!--  <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4" data-ng-repeat="ad in ads">
                        <a data-ng-href="#!/ads/{{ad._id}}" >
                        <div class="thumbnail">
                        	<img alt="MEAN.JS" class="img-responsive text-center" src="http://localhost:3000/images/content/{{ad._id}}"  />
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4>
                                    <p ng-bind-html="getHtml(ad.title)"></p>        
                                    <p ng-bind-html="getHtml(ad.content)"></p>        
                                </h4>
                                 
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                        </a>
                    </div> 
                </div> -->
                <div class="row-masonry">
                    <div class="item " data-ng-repeat="ad in ads">
                      <div class="well"> 
                          <div class="thumbnail">
                            <a data-ng-href="#!/ads/{{ad._id}}" >
                            <img alt="MEAN.JS" class="img-responsive text-center" src="http://localhost:3000/images/content/{{ad._id}}"  />
                            <div class="caption">
                                <!-- <h4 class="pull-right">$24.99</h4> -->
                                <h4>
                                    <p ng-bind-html="getHtml(ad.title)"></p>        
                                    <p ng-bind-html="getHtml(ad.content)"></p>        
                                </h4>
                                 
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                            </a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>

        

	<!-- <div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Full-Stack Solution For MEAN Applications
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
	</div> 
	<div class="row">
		 

		<div class="col-md-3" data-ng-repeat="ad in ads">
			<a  data-ng-href="#!/ads/{{ad._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="ad.title"></h4>
			<p class="list-group-item-text" data-ng-bind="ad.content"></p>
			<small class="list-group-item-text">
				Offer valid till				
				<b>
					<span data-ng-bind="ad.todate | date:'mediumDate'"></span>
				</b>				
			</small>
		</a>

		 
		</div>
	</div>
	-->
	 
	 <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </footer>
</section>