.content {
	margin-top: 20px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.cg-notify-message {   
    border: none;
}

/* Starts :; masonry item display*/
.thumbnail button.close{
    position: absolute;     
    right: 20px;
    top: 1px;
}
.thumbnail:hover{
	border-color: #FF8E01; 
}
.thumbnail button.edit{
    right: 45px;
}   

.row-masonry {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;   
}
.homepage{
	margin-top: 50px;
}
.homepage .row-masonry {
	margin-top: -3px;
}
.row-masonry a:hover{
    text-decoration: none;
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.well {
 position:relative;
 display: block; 
 padding: 0px;
}
.thumbnail {
    margin: 0;
}

/* Ends : masonry item display */

.dropdown-toggle .glyphicon-chevron-down{
	top: 4px;
	left: 4px;
}

.header .dropdown {color: #fff;}