<section data-ng-controller="CategoriesController" data-ng-init="find()">
    <div class="navbar navbar-default navbar-page-header" id="subnav">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-6">
                    <div class="navbar-header">
                        <h3 class="margin-top-10 margin-bottom-5">Categories</h3>                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pull-right margin-top-10">
                        <button type="button" class="btn btn-success pull-right" ng-click="openCategoryCreateModal()">
                            <i class="glyphicon glyphicon-plus"></i>New Category
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default plain profile-panel">
        <table ng-table="vm.tableParams" class="table">
            <tr data-ng-repeat="category in categories">
                <td data-title="'#'">
                    {{$index+1}}
                </td>
                <td title="'Sequence'">
                    {{category.sequence}}
                </td>
                <td title="'Name'">
                    {{category.name}}
                </td>
                <td title="'Css Class'">
                    <i class="{{category.cssclass}}"></i> : {{category.cssclass}}
                </td>
                <td>
                    <a class="btn btn-warning" href="/#!/categories/{{category._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" data-ng-click="openCategoryDeleteModal(category);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </table>
        <div class="alert alert-warning text-center" data-ng-if="categories.$resolved && !categories.length">
            No categories yet, why don't you <a href="/#!/categories/create">create one</a>?
        </div>
    </div>
</section>