
<section data-ng-controller="CategoriesController" data-ng-init="find()">
    <div class="page-header row">
        <div class="col-md-10">
            <h3>Categories</h3>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary pull-right" ng-click="openCategoryCreateModal()">
                <i class="glyphicon glyphicon-plus"></i>New Category
            </button>
        </div>
    </div>

   
   
    <div class="panel panel-default plain profile-panel">
        <table ng-table="vm.tableParams" class="table">
            <tr data-ng-repeat="category in categories">
                <td data-title="'#'">
                    {{$index+1}}
                </td>
                <td title="'Sequence'">
                    {{category.sequence}}
                </td>
                <td title="'Name'">
                    {{category.name}}
                </td>
                <td title="'Css Class'">
                    <i class="{{category.cssclass}}"></i> : {{category.cssclass}}
                </td>
                <td>
                    <a class="btn btn-primary" href="/#!/categories/{{category._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" data-ng-click="openCategoryDeleteModal(category);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </table>
        <div class="alert alert-warning text-center" data-ng-if="categories.$resolved && !categories.length">
            No categories yet, why don't you <a href="/#!/categories/create">create one</a>?
        </div>
    </div>
</section>