<section data-ng-controller="AdsController" data-ng-init="find()">
	<div class="page-header">
		<h1>Ads</h1> 
		<button type="button" class="btn btn-primary" ng-click="openAdModal()">
			<i class="glyphicon glyphicon-plus"></i>New ad
		</button>
	</div>
	<div class="list-group">
		<a data-ng-repeat="ad in ads" data-ng-href="#!/ads/{{ad._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Offer valid from
				<b>
					<span data-ng-bind="ad.fromdate | date:'mediumDate'"></span>
				</b>
				to
				<b>
					<span data-ng-bind="ad.todate | date:'mediumDate'"></span>
				</b>
				by
				<span data-ng-bind="ad.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="ad.title"></h4>
			<p class="list-group-item-text" data-ng-bind="ad.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="ads.$resolved && !ads.length">
		No ads yet, why don't you <a href="/#!/ads/create">create one</a>?
	</div>
</section>