<section data-ng-controller="AdsController" data-ng-init="init()">
    <div class="page-header">
        <h1>Ads</h1>
        <!-- <a class="btn btn-primary" data-ng-href="#!/ads/create" class="list-group-item">New Ad</a> -->

        <button type="button" class="btn btn-primary" ng-click="openAdModal()">
            <i class="glyphicon glyphicon-plus"></i>New ad
        </button>
    </div>
    <div class="row-masonry">
        <div class=" item" data-ng-repeat="ad in ads">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-ng-href="#!/ads/{{ad._id}}" class="pull-right">View all</a>
                    <img alt="logo" class="img-responsive text-center ad-store-logo" src="images/content/{{ad.store}}" ng-error="tellServerItsBroken(ad)" />
                </div>
                <div class="panel-thumbnail"><img src="images/content/{{ad._id}}" class="img-responsive" ng-error="tellServerItsBroken(ad)"></div>
                <div class="panel-body">
                    <div class="clearfix"></div>
                    <h4 class="no-border" ng-bind-html="getHtml(ad.title)"> </h4>
                    <p class="no-border" ng-bind-html="getHtml(ad.content)"></p>
                    <hr>
                    <form>

                        <div data-toggle="buttons">
                            <label class="btn btn-default btn-circle btn-lg active"><input type="checkbox" name="q1" value="0"><i class="glyphicon glyphicon-thumbs-up" checked></i></label>

                            <button class="btn btn-default btn-circle btn-lg active" ng-click="ad.showComment = !ad.showComment"><input type="checkbox" name="q1" value="0"><i class="glyphicon glyphicon-comment" checked></i></button>
                        </div>
                </div>
                <div class="input-group" ng-show="ad.showComment">
                    <div class="input-group-btn">
                        <img src="http://api.randomuser.me/portraits/med/men/20.jpg" width="28px" height="28px">
                    </div>
                    <input type="text" class="form-control" placeholder="Add a comment..">
                    <div class="input-group-btn">
                        <button class="btn btn-default">Post</button>
                    </div>
                </div>

                <!-- <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-comment"></i>+1</button>
                        <button class="btn btn-default"><i class="glyphicon glyphicon-thumbs-up"></i>+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="Add a comment..">
                </div> -->
                </form>
            </div>

        </div>
    </div>

    <!--<div class="list-group">
        <a data-ng-repeat="ad in ads" data-ng-href="#!/ads/{{ad._id}}" class="list-group-item">
            <h4 class="list-group-item-heading" ng-bind-html="getHtml(ad.title)"></h4>
            <p class="list-group-item-text" ng-bind-html="getHtml(ad.content)"></p>
            <small class="list-group-item-text">
                Offer valid from
                <b>
                    <span data-ng-bind="ad.fromdate | date:'mediumDate'"></span>
                </b>
                to
                <b>
                    <span data-ng-bind="ad.todate | date:'mediumDate'"></span>
                </b>
                by
                <span data-ng-bind="ad.user.displayName"></span>
            </small>
        </a>
    </div>-->
    <div class="alert alert-warning text-center" data-ng-if="ads.$resolved && !ads.length">
        No ads yet, why don't you <a href="/#!/ads/create">create one</a>?
    </div>
</section>