<section data-ng-controller="AdsController" data-ng-init="findOne()">
	<div class="pull-right" data-ng-show="authentication.user._id == ad.user._id">
		<button type="button" class="btn btn-primary" ng-click="openOfferModal()">
			<i class="glyphicon glyphicon-plus"></i>Add offers
		</button>

		 
		<a class="btn btn-primary" href="/#!/ads/{{ad._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div class="page-header">
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="ad.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="ad.user.displayName"></span>
			</em>		
		</small>
		<h1 data-ng-bind="ad.title"></h1>
		<p class="lead" data-ng-bind="ad.content"></p>
		<img alt="MEAN.JS" class="img-responsive text-center" src="http://localhost:3000/images/content/{{ad._id}}"  />
	</div>
	  
	<h1 >Offers</h1>
	  <!-- <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3" ng-repeat="item in offers">
          <div class="thumbnail">
            <img  ng-src="http://localhost:3000/images/content/{{item._id}} " hide-until-good  alt="">
              <div class="caption">
                <h4>{{item.title}}</h4>
                <p>{{item.content}}</p>
                  <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>  
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				 </button>
				 <button type="button" class="close edit" data-dismiss="modal" aria-label="Close">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				 </button>
            </div>
          </div>
        </div>

    </div>   -->
 

 
<div class="row-masonry">
    <div class="item " ng-repeat="item in offers">
      <div class="well"> 
          <div class="thumbnail">
            <img  ng-src="http://localhost:3000/images/content/{{item._id}} " hide-until-good  alt="">
              <div class="caption">
                <h4>{{item.title}}</h4>
                <p>{{item.content}}</p>
                 <!-- <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p> -->
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				 </button>
				 <button type="button" class="close edit" data-dismiss="modal" aria-label="Close">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				 </button>
            </div>
          </div>
      </div>
    </div>
 	 
</div>
 

   <style type="text/css">
	.thumbnail button.close{
		position: absolute;	    
	    right: 20px;
	    top: 1px;
	}
	.thumbnail button.edit{
	    right: 45px;
	}

	 

.row-masonry {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.well {
 position:relative;
 display: block; 
 padding: 0px;
}
.thumbnail {
    margin: 0;
}

   </style>
    <!-- <div class="col-md-12 card " >
	  <table class="table table-responsive">
	    <thead class="card action poll-card">
	      <th class="c-td">Photo </th>
	      <th class="c-td">Title </th>
	      <th class="c-td">Content</th>
	    </thead>
	    <tbody>
	      <tr id="card action poll-card custom_tr" ng-repeat="item in offers">
	       <td class="c-td"> 
	      	<img alt="MEAN.JS" class="img-responsive text-center" src="http://localhost:3000/images/content/{{item._id}}"  />
	      	</td>
	       <td class="c-td">{{item.title}}</td>
	       <td class="c-td">{{item.content}}</td>
	       <td class="c-td">
		       	<button type="button" class="btn btn-primary" ng-click="openOfferModal(item)">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
		       	<button type="button" class="btn btn-primary" ng-click="deleteOffer()">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
 
	       </td>
	     </tr>
	   </tbody>
	 </table>
	</div> -->

 