<section data-ng-controller="AdsController" data-ng-init="findOne()">
	<div class="pull-right" data-ng-show="authentication.user._id == ad.user._id">
		<button type="button" class="btn btn-primary" ng-click="openOfferModal()">
			<i class="glyphicon glyphicon-plus"></i>Add offers
		</button>

		 
		<a class="btn btn-primary" href="/#!/ads/{{ad._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div class="page-header">
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="ad.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="ad.user.displayName"></span>
			</em>		
		</small>
		<h1 data-ng-bind="ad.title"></h1>
		<p class="lead" data-ng-bind="ad.content"></p>
		<img alt="MEAN.JS" class="img-responsive text-center" src="http://localhost:3000/images/content/{{ad._id}}"  />
	</div>
	  
	<h1 >Offers</h1>

    <div class="col-md-12 card " >
	  <table class="table table-responsive">
	    <thead class="card action poll-card">
	      <th class="c-td">Photo </th>
	      <th class="c-td">Title </th>
	      <th class="c-td">Content</th>
	    </thead>
	    <tbody>
	      <tr id="card action poll-card custom_tr" ng-repeat="item in offers">
	       <td class="c-td"> 
	      	<img alt="MEAN.JS" class="img-responsive text-center" src="http://localhost:3000/images/content/{{item._id}}"  />
	      	</td>
	       <td class="c-td">{{item.title}}</td>
	       <td class="c-td">{{item.content}}</td>
	       <td class="c-td">
		       	<button type="button" class="btn btn-primary" ng-click="openOfferModal(item)">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
		       	<button type="button" class="btn btn-primary" ng-click="deleteOffer()">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
 
	       </td>
	     </tr>
	   </tbody>
	 </table>
	</div>

 