wysiwyg-edit.ad-title .tinyeditor .sizer, wysiwyg-edit.ad-content .tinyeditor .sizer {
	min-height: 75px;
	height: 75px;
}
    
.ads-view-all{
    color: #4285f4;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}