<section data-ng-controller="OutletsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 ng-show="outlet._id">Edit Outlet</h1>
        <h1 ng-hide="outlet._id">New Outlet</h1>

    </div>
    <div class="col-md-12">
        <form name="outletForm" class="form-horizontal" data-ng-submit="createOrUpdate(outletForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : submitted && outletForm.name.$invalid}">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input name="name" type="text" data-ng-model="outlet.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <div ng-show="submitted && outletForm.name.$invalid" class="help-block">
                        <p ng-show="outletForm.name.$error.required" class="text-danger">Name is required</p>
                    </div>
                </div>
                <!--<div class="form-group" ng-class="{ 'has-error' : submitted && outletForm.address.$invalid}">
                <label class="control-label" for="address">Address</label>
                <div class="controls">
                    <textarea name="address" data-ng-model="outlet.address.name" id="address" class="form-control" cols="30" rows="4" placeholder="Address" required></textarea>
                </div>
                <div ng-show="submitted && outletForm.address.$invalid" class="help-block">
                    <p ng-show="outletForm.address.$error.required" class="text-danger">Address is required</p>
                </div>
            </div>-->
                <div class="form-group">
                    <label class="control-label" for="city">City</label>
                    <div class="controls">
                        <select ng-model="selectedCity" ng-options="city._id as city.name for city in cities" class="form-control">
                            <option value="">Select A City</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Address">Address</label>
                    <input vs-google-autocomplete
                           ng-model="outlet.address.name"
                           vs-place="outlet.address.place"
                           vs-place-id="outlet.address.components.placeId"
                           vs-street-number="outlet.address.components.streetNumber"
                           vs-street="outlet.address.components.street"
                           vs-city="outlet.address.components.city"
                           vs-state="outlet.address.components.state"
                           vs-country-short="outlet.address.components.countryCode"
                           vs-country="outlet.address.components.country"
                           vs-post-code="outlet.address.components.postCode"
                           vs-district="outlet.address.components.district"
                           vs-latitude="outlet.address.components.location.lat"
                           vs-longitude="outlet.address.components.location.long"
                           type="text"
                           name="outlet.address"
                           id="outlet.address"
                           class="form-control"
                           placeholder="Enter outlet.address">
                    <map zoom="15" center="{{center}}" on-click="placeMarker()"></map>
                </div>
                <div class="form-group">
                    <label class="control-label" for="landmark">Landmark</label>
                    <input type="text" data-ng-model="outlet.landmark" id="txtLangmark" class="form-control" placeholder="Enter a landmark (E.g. Opposite to bigbazar)" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" ng-hide="outlet._id">
                    <input type="submit" value="Update" class="btn btn-primary" ng-show="outlet._id">
                    <a href="#!/stores/{{outlet.store}}" class="btn btn-warning">Cancel</a>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>