<section data-ng-controller="StoresController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Store</h1>
	</div>
	<div class="col-md-12">
		<form name="storeForm" class="form-horizontal" data-ng-submit="update(storeForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && storeForm.name.$invalid}">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input name="name" type="text" data-ng-model="store.name" id="name" class="form-control" placeholder="Name" required>
					</div>
					<div ng-show="submitted && storeForm.name.$invalid" class="help-block">
						<p ng-show="storeForm.name.$error.required" class="text-danger">Name is required</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && storeForm.address.$invalid}">
					<label class="control-label" for="address">Address</label>
					<div class="controls">
						<textarea name="address" data-ng-model="store.address" id="address" class="form-control" cols="30" rows="10" placeholder="Address" required></textarea>
					</div>
					<div ng-show="submitted && storeForm.address.$invalid" class="help-block">
						<p ng-show="storeForm.address.$error.required" class="text-danger">Address is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>