<section data-ng-controller="StoresController" data-ng-init="find()">
    <div class="navbar navbar-default navbar-page-header" id="subnav">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-6">
                    <div class="navbar-header">
                        <h3>Stores</h3>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="btn btn-primary pull-right" href="#!/stores/create">
                        <i class="glyphicon glyphicon-plus"></i>Add Store
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="page-header row">
        <div class="col-md-10">
            <h3>Stores</h3>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary pull-right" href="#!/stores/create">
                <i class="glyphicon glyphicon-plus"></i>Add Store
            </a>
        </div>
    </div> -->
    <div class="row-masonry">
        <div class=" item" data-ng-repeat="store in stores">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-ng-href="#!/stores/{{store._id}}">
                        <img alt="logo" class="img-responsive text-center ad-store-logo" src="images/content/{{store._id}}" ng-error="tellServerItsBroken(store)" />
                    </a>
                </div>
                <div class="panel-body">
                    <div class="clearfix"></div>
                    <h3> <a data-ng-href="#!/stores/{{store._id}}"> {{store.name}}</a></h3>
                    <p>{{store.address.name}}</p>
                    <hr>
                    <form>
                        <div data-toggle="buttons">
                            <a href="#" title="Views">    <i class="glyphicon glyphicon-eye-open">  </i> <strong>2000</strong></a>
                            <a href="#" title="Comments"> <i class="glyphicon glyphicon-comment">   </i> <strong>120</strong></a>
                            <a href="#" title="Likes">    <i class="glyphicon glyphicon-thumbs-up"> </i> <strong>60</strong></a> <span class="label label-success">Active</span>

                            <a class="btn btn-primary pull-right btn-rl-mgn-3" data-ng-click=" opendeleteconfirmationmodal(store);">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            <a class="btn btn-primary pull-right btn-rl-mgn-3" href="/#!/stores/{{store._id}}/edit">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="panel panel-default plain profile-panel">


        <div class="panel-body" data-ng-repeat="store in stores">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="profile-avatar">
                    <img class="img-responsive" src="http://localhost:3000/images/content/{{store._id}}" alt="profile picture">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">

                <div class="profile-stats-info">
                    <a href="#" title="Views">    <i class="glyphicon glyphicon-eye-open">  </i> <strong>2000</strong></a>
                    <a href="#" title="Comments"> <i class="glyphicon glyphicon-comment">   </i> <strong>120</strong></a>
                    <a href="#" title="Likes">    <i class="glyphicon glyphicon-thumbs-up"> </i> <strong>60</strong></a> <span class="label label-success">Active</span>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <a class="btn btn-primary" href="/#!/stores/{{store._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" data-ng-click="openDeleteConfirmationModal(store);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>

    </div>-->
    <div class="alert alert-warning text-center" data-ng-if="stores.$resolved && !stores.length">
        No stores yet, why don't you <a href="/#!/stores/create">create one</a>?
    </div>
</section>
