<section data-ng-controller="StoresController" data-ng-init="findOne()">
	<div class="page-header row">
		<div class="col-md-1">
		<img alt="MEAN.JS" class="img-responsive text-center" src="http://localhost:3000/images/content/{{store._id}}"  />
		</div>
		<div class="col-md-11">
			<h1 data-ng-bind="store.name"  ></h1>
		</div>
		<small>
			<em class="text-muted">
				Created on
				<span data-ng-bind="store.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="store.user.displayName"></span>
			</em>
		</small>
		<p class="lead" data-ng-bind="store.address"></p>
		
	<div>
		<button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
	          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
	      Update Logo
	  	</button>
	  
	   
	  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
	      <span class="progress" ng-show="f.progress >= 0">
	          <div style="width:{{f.progress}}%"  
	               ng-bind="f.progress + '%'"></div>
	      </span>
	  </div>     
	  {{errorMsg}}
	</div>
	</div>
	<a class="btn btn-primary" ng-click="openOutletCreateModal()">
			<i class="glyphicon glyphicon-plus"></i>Add Outlet
	</a>
	<div class="pull-right" data-ng-show="authentication.user._id == store.user._id">
		<a class="btn btn-primary" href="/#!/stores/{{store._id}}/outlets">
			Outlets
		</a>
		<a class="btn btn-primary" href="/#!/stores/{{store._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<div class="panel panel-default plain profile-panel">
			<div class="panel-body" data-ng-repeat="outlet in outlets">
            
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="user-name">
                   <a   data-ng-href="#!/outlets/{{outlet._id}}"> {{outlet.name}}</a>
                </div>
                <div class="user-information">
                    <p>{{outlet.address}}</p>
                </div>
                <div class="user-information">
                    <p>{{outlet.city.name}}</p>
                </div>
                <div class="profile-stats-info">
                    <a href="#" title="Views">    <i class="glyphicon glyphicon-eye-open">  </i> <strong>2000</strong></a>
                    <a href="#" title="Comments"> <i class="glyphicon glyphicon-comment">   </i> <strong>120</strong></a>
                    <a href="#" title="Likes">    <i class="glyphicon glyphicon-thumbs-up"> </i> <strong>60</strong></a> <span class="label label-success">Active</span>
                </div>
                
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                	<a class="btn btn-primary" href="/#!/outlets/{{outlet._id}}/edit">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
					<a class="btn btn-primary" data-ng-click="remove();">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
            </div>
        </div>
 
	</div>
</section>