 

	<div class="modal-header">
		<h1>New Offer</h1>
	</div>
	<div class="modal-body">
		 
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': offerForm.title.$dirty && offerForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="4" placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group">
	                <label class="control-label" for="name">Offer image</label>
	                <div class="controls">
	                	<input type="file" ngf-select="" ng-model="picFile" name="file" ngf-accept="'image/*'" />
	                    <!-- <input type="file" filelist-bind name="file" ng-model="file" /> -->
	                </div>
            	</div>
				<!-- <div class="form-group">
					<input type="submit" class="btn btn-default">
				</div> -->
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		 
	</div>
	 <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="create()">Create</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
 